/*Preloader*/

div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: black url("../img/Loading.gif") no-repeat center center;
  }


.main {
    background-image: url("../img/placeholderbackground.jpg");
  background-position: center;
  background-attachment: fixed;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: 100% 100%;
}

.body {
    max-width: 1431px;
}

.section {
    height: 100%;
    width: 100%;
}

.headerText {
    color: white;
    font-size: 25px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.headerImg {
    width: 340px;
    height: 75px;
}

.preloaderImg {
    width: 534px;
}

.preloaderText {
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    text-align: left;
}

.paddingBottom {
    padding-bottom: 100px;
}

.paddingTop {
    padding-top: 100px;
}