/*CSS HOME*/

body {
    min-width: 360px;
}


/*Pozadina home*/

.homeBg {
    padding-top: 44px;
    background-image: url('../img/home/brickbackground.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/*Logo pocetna*/

.homeLogo {
    width: 272px !important;
    height: 60px;
    display: flex !important;
}

@media (max-width: 960px) {
    .homeLogo {
        display: none !important;
    }
}


/* Nav bar pocetna */

.homeNavBar {
    margin-top: 37px;
}

#navbarSupportedContent>ul>li>a {
    color: white;
    font-size: 23px;
    font-weight: 400;
    padding-right: 150px;
}

#navbarSupportedContent>ul>li:nth-child(4)>a {
    padding-right: 0px !important;
}

.navbar-brand {
    display: none !important;
}

@media (max-width: 960px) {
    .homeNavBar {
        margin-top: 0px !important;
    }
    .navbar-brand {
        display: inline-block !important;
    }
    .navbar-brand img {
        height: 45px !important;
    }
    #navbarSupportedContent>ul>li>a {
        padding-right: 0px;
        float: right;
    }
}

.navbar-dark .navbar-toggler {
    color: white !important;
    border-color: white !important;
}


/* Heder text */

.hederTxt {
    margin-top: 63px;
}

@media (max-width: 720px) {
    .hederTxt {
        width: 300px !important;
        max-height: 140px !important;
    }
    .heder1Txt {
        margin-top: 25px !important;
        height: 43px !important;
    }
}

@media (max-width: 960px) and (min-width: 720px) {
    .hederTxt {
        width: 650px;
    }
    .heder1Txt {
        height: 90px !important;
    }
}

.heder1Txt {
    margin-top: 49px;
    margin-bottom: 45px;
    height: 105px;
}

#navbarSupportedContent {
    justify-content: center !important;
}


/*Caroseul*/

@media (max-width: 992px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }
    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
    justify-content: center;
}

@media (min-width: 992px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(16.6%);
    }
    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-16.6%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}